/*  your css code here. If applicable */
.book-library{
	background-color:#ffffff;
	text-align:center;
	
}
.book{
	width:200px;
	 justify-content: space-between;
}
#author1{
	color:#777777;
	width:200px;
	
}
#price1{
	background-color:#2ecc71;
	text-align:center;
	color:#f8f8f8;
}
.book{
	width:200px;
}
#author2{
	color:#777777;
	width:200px;
	font-size:small;
	
}
.book{
	width:200px;
}
#author3{
	color:#777777;
	width:200px;
	font-size:small;
	
}
